body {
  background-color: rgb(7, 7, 14);
  color: white;
  display: flex;
  flex-direction: column;
}
main h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 30%;
}
label {
  margin-bottom: 20px;
}
#display {
  width: 25%;
  background-color: lightgreen;
  color: black;
}
