body {
  background-color: rgb(7, 7, 14);
  color: blue;
  display: flex;
  flex-direction: column;
}
main h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 30%;
}
label {
  margin-bottom: 20px;
}
